NODE_ENV=development
DATABASE_URL="postgresql://postgres:admin@localhost:5432/zappyhub?schema=public"
REDIS_URL="redis://:admin123@localhost:6379/0"

# Valor secreto (pepper) usado no hash de senhas para aumentar entropia de senha, vai ser hash + pepper 
# coloque aqui um valor bem aleatório de pelo menos 32 bytes
PEPPER_SECRET= 

# Chave secreta do  JWT para testar verifyPassword do modulo de usuários 
# login simples e totalmente separado do modulo de usuarios 
JWT_SECRET=

# Deve ter 32 bytes (256 bits) codificados em hexadecimal → 64 chars
# Exemplo de geração: openssl rand -hex 32
CRYPTO_KEY_USER= 
