NODE_ENV=development
DATABASE_URL="postgresql://postgres:admin@localhost:5432/zappyhub?schema=public"
REDIS_URL="redis://:admin123@localhost:6379/0"
# Valor secreto (pepper) usado no hash de senhas para aumentar entropia de senha, vai ser hash + pepper 
PEPPER_SECRET=coloque_aqui_um_valor_bem_aleatório_de_pelo_menos_32_bytes

# Chave secreta para assinar JWTs 
JWT_SECRET=coloque_aqui_outra_string_segura_para_o_token


